security:
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    password_hashers:
        App\Entity\User:
            algorithm: auto

    firewalls:
        dev:
            pattern: ^/api/
            security: false

        login:
            pattern: ^/api/auth/login
            stateless: true

            json_login:
                check_path: /api/auth/login
                username_path: email
                password_path: password
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        api:
            pattern: ^/api
            stateless: true
            jwt: ~

    access_control:
        - { path: ^/api/auth/login, roles: PUBLIC_ACCESS }
        - { path: ^/api/auth/register, roles: PUBLIC_ACCESS }
        - { path: ^/api/auth/forgot, roles: PUBLIC_ACCESS }
        - { path: ^/api/auth/reset, roles: PUBLIC_ACCESS }
        - { path: ^/api/auth/logout, roles: PUBLIC_ACCESS }
        - { path: ^/api/auth/verify, roles: PUBLIC_ACCESS }
        - { path: ^/api/, roles: ROLE_USER }
